@import "tailwindcss";

      @theme {

         --color-primary : #e53637;
         --color-secondry :#0b0c2a ; 
         --color-back-layout : #070720; 
         --color-white-1 : #ffffff ;
         --color-white-2 : #ffffff12 ;
         --color-gray-1 :#3d3d3d; 
         --color-gray-2 :#ffffff33;
         --color-gray-3 : #b7b7b7 ;
         --color-dak-blue :#1d1e39;
      }
   .center-cont {
      @apply container mx-auto w-[80%] max-w-[1200px];
   }

  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    box-sizing: border-box;
   font-family: "Mulish", sans-serif;
  }

   body {
      background-color: var(--color-secondry);
      color: var(--color-white-1); 
   }

   img {
      width: 100%;
      height: 100%;
   }

 
   .backImg:hover{
      transform: scale(1.05) rotate(3deg);
      
   }

   ul{
      list-style: none;
     
   }
   
   li {
      list-style: none;
   }

   .new-font{
      font-family: "Oswald", sans-serif;
   }

   /* *{
      border: solid  2px var(--color-pink-600);
   } */

   /* ++++++++++normalise++++++++++ */

/* Header */

   .catogries-links:hover ul.catogries-links-ul{
      display: flex;
      opacity: 1 !important;
      flex-direction: column;
      top:100%!important;
  
      
      }

/* Header */
/* Footer  */

/* Footer  */

/* في ملف CSS خاص بالعنصر أو في ملف global */

/* تأثير التدرج للشريط السفلي */


/* swiper css */

.swip-btn{
  position: relative;
  border: solid 8px var(--color-secondry);
}

.swip-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--color-white-2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* swiper css */